.outline {
  border: 1px solid #eeeeee;
  border-top: none;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;

  margin-right: 93px;

  text-decoration: none;
  color: var(--navigation-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &__part-logo {
    color: var(--accent-color);
  }
}

.site-nav {
  position: relative;
  display: flex;

  color: var(--navigation-text-color);

  line-height: 1.14em;
  letter-spacing: 0.02em;

  font-weight: 500;
  font-size: 14px;

  &__link {
    display: block;

    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--navigation-text-color);
    text-decoration: none;

    &:hover,
    &:focus {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: var(--accent-color);
    }
  }

  &__studio--current {
    position: relative;
    color: var(--accent-color);

    &::after {
      position: absolute;
      content: "";
      display: block;
      background-color: #2196f3;
      height: 4px;
      width: 100%;

      bottom: 0;

      border-radius: 2px;
    }
  }
  &__portfolio--current {
    position: relative;
    color: var(--accent-color);
    &::after {
      position: absolute;
      content: "";
      display: block;
      background-color: #2196f3;
      height: 4px;
      width: 100%;

      bottom: 0;

      border-radius: 2px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-us {
  display: flex;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__email {
    color: var(--contact-us-font);

    text-decoration: none;

    font-weight: 500;
    font-size: 14px;

    line-height: 1.14em;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: var(--accent-color);
    }
  }

  &__number {
    &:hover,
    &:focus {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: var(--accent-color);
    }
    display: flex;
    align-items: center;

    color: var(--contact-us-font);

    text-decoration: none;

    font-weight: 500;
    font-size: 14px;

    line-height: 1.14em;
    letter-spacing: 0.02em;
  }

  &__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--contact-us-icon-color);

    .contact-us__email:hover &,
    .contact-us__email:focus & {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      fill: var(--accent-color);
    }
  }
  &__icon-phone {
    /* display: inline-block; */
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--contact-us-icon-color);

    .contact-us__number:hover &,
    .contact-us__number:focus & {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      fill: var(--accent-color);
    }
  }
}
