.title-settings {
  color: var(--title-settingss-color);
}

.main {
  margin: 0 auto;

  background-color: var(--main-title-backround);

  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main-section/bg-opt.jpeg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__main-title {
    display: block;

    margin: 0 auto;
    max-width: 696px;
    margin-bottom: 30px;

    color: var(--main-title-text-color);

    font-weight: 900;
    font-size: 44px;

    line-height: 1.36em;
    letter-spacing: 0.06em;

    text-transform: uppercase;
  }
  &__main-button {
    background: var(--accent-color);
    padding: 10px 32px 10px 32px;

    min-width: 200px;

    color: var(--main-title-text-color);

    text-decoration: none;

    font-weight: bold;
    font-size: 16px;

    line-height: 1.87em;
    letter-spacing: 0.06em;

    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    &:hover,
    &:focus {
      transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
      background: var(--main-button-background);
    }
  }
}
