.portfolio-main-title {
  text-align: center;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;

  &__button-all,
  &__button-sites,
  &__button-apps,
  &__button-disagn,
  &__button-marketing {
    color: var(--buttons-text-color);
    background-color: var(--background-buttons);

    padding: 6px 22px;
    text-align: center;

    font-weight: 500;
    font-size: 16px;

    line-height: 1.62em;
    letter-spacing: 0.03em;

    cursor: pointer;
  }
  &__button-all:hover,
  &__button-sites:hover,
  &__button-apps:hover,
  &__button-disagn:hover,
  &__button-marketing:hover,
  &__button-all:focus,
  &__button-sites:focus,
  &__button-apps:focus,
  &__button-disagn:focus,
  &__button-marketing:focus {
    color: var(--portfolio-button-active);
    background-color: var(--accent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item {
    .portfolio-buttons &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.button-disagn {
  background: var(--portfolio-button-background);

  border: none;
  border-radius: 4px;

  font-family: Roboto;
  font-size: 16px;

  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
}
.card-set {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));

  &__item {
    position: relative;
    overflow: hidden;
    flex-basis: calc(100% / 3 - var(--card-set-gap));

    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);

    &:hover,
    .card-set__card-focus:focus & {
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

      cursor: pointer;
    }
  }
  &__card-item-overlay {
    position: relative;
    overflow: hidden;
  }
  &__card-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    visibility: hidden;

    width: 100%;
    height: 100%;

    padding: 63px 24px;

    background: rgba(33, 150, 243, 0.9);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    /* or 156% */
    color: #ffffff;

    letter-spacing: 0.03em;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .card-set__item:hover &,
    .card-set__card-focus:focus & {
      overflow: visible;
      visibility: visible;

      transform: translate(-50%, -50%);
    }
  }
}

.project-card-disagn {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;

  &__portfolio-names {
    color: var(--title-settingss-color);
    margin: 0px;
    margin-bottom: 4px;

    font-weight: bold;
    font-size: 18px;

    line-height: 2em;
    letter-spacing: 0.06em;
  }
  &__portolio-tables {
    color: var(--portfolio-table-color);

    font-size: 16px;

    line-height: 1.87em;
    letter-spacing: 0.03em;
  }
}
