.main-projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100% / 3 - var(--card-set-gap));

    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
  &__main-projects-content {
    position: absolute;
    bottom: 0px;

    width: 100%;

    background: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.projects__title-settings {
  color: var(--title-settingss-color);
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;

  text-align: center;

  line-height: 1.16em;
  letter-spacing: 0.03em;
}
