.section-pos.main {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-pos.down-part {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-pos {
  padding-top: 94px;
  padding-bottom: 94px;
}
